.cell {
  width: 20%;
  height: 20%;
  background: #ccc;
  font-family: Oswald;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset -2px -2px 3px #aaa, inset 2px 2px 3px #fff;
}

.show {
  background: #555;
  color: #eee;
}

.hide {
  background: #888;
}

.hide:hover {
  background: #999;
}

.success {
  background: #eee;
}

.success:hover {
  background: #fff;
}

.fail {
  background: #aaa;
  color: #ddd;
}

.fail:hover {
  background: #888;
}
