@font-face {
  font-family: Oswald;
  src: url("./fonts/oswald/Oswald-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Oswald;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}